{% extends "base.html" %}
{% load static %}
{% block conteudo %}


<div class="modal" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsModalLabel">Results </h5>
            </div>
            <div class="modal-body" id="results">
            </div>
        </div>
    </div>
</div>

<div id="load">
    <div id="spinner" class="spinner"> </div>
    Testing Services ... wait
</div>

<table class="table" style="text-align: justify;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Activity Type</th>
            <th>Activity Related To</th>
            <th>IGN Engineer</th>
            <th>Type </th>
            <th>Status</th>
            <th>Date Start Activity</th>
            <th>Date End Activity</th>
            <th>Duration</th>
            <th>Affected Services</th>
            <th>Location</th>
            <th>Core</th>
            <th>Tickets Zendesk Generated</th>

        </tr>
    </thead>
    <tbody>
        {% for core_obj in core %}
        <tr>
            <td> <button id="button_test" value="{{ core_obj.id }}"
                    title="Click for run tests in the services affecteds it will be not closed">Test services ID
                    {{ core_obj.id }} </button></td>
            <td>{{ core_obj.activity_type }}</td>
            <td>{{ core_obj.activity_related_to }}</td>
            <td>{{ core_obj.get_ign_engineer_display }}</td>

            <td>
                {% if core_obj.network_link %}
                {{ core_obj.get_network_link_display }}
                {% endif %}

                {% if core_obj.internet_id %}
                {{ core_obj.get_internet_id_display }}
                {% endif %}


                {% if core_obj.pop %}
                {{ core_obj.get_pop_display }}
                {% else %}

                Nenhum dado disponível
                {% endif %}
            </td>




            <td>{{ core_obj.status }}</td>
            <td>{{ core_obj.start_date }}</td>
            <td>{{ core_obj.end_date }}</td>
            <td>{{ core_obj.duration }}</td>
            <td>{{ core_obj.affected_services }}</td>
            <td>{{ core_obj.Description }}</td>
            <td>{{ core_obj.core_quickbase_id }}</td>
            <td>{{ core_obj.tickets_zendesk_generated }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    // use for fetch to post form 
    var csrftoken = '{{ csrf_token }}';
</script>


{% endblock %}


</html>