{% extends "base.html" %}
{% load static %}
{% block conteudo %}


<link href="{% static 'css/core_activity.css' %}" rel="stylesheet">


{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show"
        role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}




<!-- Modal para mostrar as opções -->
<div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsModalLabel">Select the device for which you want to get services
                </h5>
            </div>
            <div class="modal-body">
                <div> obs: In most of the cases devices who contains AR, LER, LSR , SW has customer services, But
                    there is
                    some exceptions</div>
                <div id="checkboxContainer" class="form-check"></div>
            </div>
            <button class="btn btn-primary" id="load_services">Load Services</button>
        </div>
    </div>
</div>


<div class="container-lg text-justify">
    <h5 style="text-align: center;">Core Activity Registration</h5>

    <form class="form" id="form_core">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">

                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                    <div>{{ field }}</div>
                </div>
                {% endfor %}
                <button class="btn btn-primary" id="btn-create_core">Create Core</button>
            </div>
            <div class="col-md-6">
                <!-- Service Data Section -->
                <div>
                    <div>
                        <button id="add_services">Add Services </button>
                        <input id="add_services_input" type="text" name="add_service_input">
                    </div>

                    <div class="tabela_data" id="serviceData">

                        <div class="progress-container">
                            <div class="progress-bar" id="progressBar">0%</div>
                        </div>
                    </div>

                    <div id="feedback_create_core">
                        <button id="close_button">&#x2716;</button>
                    </div>

                </div>


            </div>
    </form>





</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    // use for fetch to post form 
    var csrftoken = '{{ csrf_token }}';
</script>
{% endblock %}