{% extends "base.html" %}
{% load static %}
{% block conteudo %}

<link href="{% static 'css/core_activity.css' %}" rel="stylesheet">

<body>

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <!-- Modal para mostrar as opções -->
    <div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="optionsModalLabel">Select the device for which you want to get services
                    </h5>
                </div>
                <div class="modal-body">
                    <div> obs: In most of the cases devices who contains AR, LER, LSR , SW has customer services, But
                        there is
                        some exceptions</div>
                    <div id="checkboxContainer" class="form-check"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-md text-justify">
        <h5 style="text-align: center;">Core Activity Registration</h5>

        <form action="{% url 'core' %}" method="post" class="form" id="form_core" onsubmit="Click_button_submit_core()">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">

                    {% for field in form.visible_fields|slice:":11" %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                        <div>{{ field }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div id="services_affected_counter">SERVICES AFFECTED COUNTER: 0</div>
                    {% for field in form.visible_fields|slice:"11:" %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                        <div>{{ field }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create Core</button>
        </form>
        <div id="update-container"></div>
    </div>

</body>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    // use for fetch to post form 
    var csrftoken = '{{ csrf_token }}';
    // Função para lidar com o envio do formulário via AJAX
    function Click_button_submit_core() {
        var form = $('#form_core');
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function (data) {
                // Atualize a interface do usuário com o resultado retornado
                $('#update-container').html('<p>' + data.message + '</p>');
            },
            error: function () {
                // Trate erros, se necessário
                $('#update-container').html('<p>Ocorreu um erro ao processar o formulário.</p>');
            }
        });
        // Evite o envio normal do formulário
        return false;
    }

    var eventSource = new EventSource("{% url 'core' %}");

    eventSource.onmessage = function (event) {
        // Atualize a interface do usuário com os dados recebidos via SSE
        $('#update-container').html('<p>' + event.data + '</p>');
    };

    eventSource.onerror = function (event) {
        // Trate erros de SSE, se necessário
        console.error('Erro SSE:', event);
    };
</script>
{% endblock %}