<html>

<head>
    <meta charset='utf-8'>
</head>

<body
    style='background: #192655; margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; height: 100vh;'>
    <div style='background-color: rgba(255, 255, 255, 0.8); padding: 20px;'>
        <ul style='list-style-type: none; padding: 0;'>
            {% for chunk in result %}
            <li
                style='padding: 5px; background-color: rgba(255, 255, 255, 0.8); font-family: sans-serif; max-width: 1000px;'>
                {{ chunk }}{% if 'Errors' in chunk %}<span style='margin-left: 20px;'>❌;</span>{% else %}<span
                    style='margin-left: 20px;'>&#10003;</span>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>