version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    command: ./start.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432" 


  redis:
    image: redis:7
    container_name: redis
    env_file:
      - .env
    ports:
      - "${REDIS_EXTERNAL_PORT}:6379"

  celery:
    build: .
    container_name: celery_worker
    command: ./start_celery.sh
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery-beat:
    build: .
    container_name: celery_beat
    command: ./start_celery_beat.sh
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
