.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .table th {
    background-color: #f0f0f0;
  }
  
  .table tr:nth-child(even) {
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #eaeaea;
  }
  
  .table-rounded {
    border-radius: 20px; /* Adiciona bordas arredondadas */
  }
  
  textarea {
    padding: 10px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      height: 150px;
  }
  