 /* The side navigation menu */
 body {
     padding-top: 0px;
     background: linear-gradient(45deg, #000000, #192655);
     font-family: sans-serif;
 }

 .sidebar {
     margin: 10px;
     width: 275px;
     border-radius: 10px;
     background: linear-gradient(45deg, #000000, #192655);
     position: fixed;
     height: 100%;
     overflow: auto;

 }

 /* Sidebar links */
 .sidebar a {
     display: block;
     color: rgb(252, 252, 252);
     padding: 16px;
     text-decoration: none;
 }

 /* Active/current link */
 .sidebar a.active {

     color: white;
 }

 /* Links on mouse-over */
 .sidebar a:hover:not(.active) {
     background-color: #455385;
     color: white;
 }

 /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
 div.content {
     margin: 20px;
     padding-top: 50px;
     height: 1000px;
     padding-left: 290px;
     color: white;
 }

 /* On screens that are less than 700px wide, make the sidebar into a topbar */
 @media screen and (max-width: 700px) {
     .sidebar {
         width: 100%;
         height: auto;
         position: relative;
     }

     .sidebar a {
         float: left;
     }

     div.content {
         padding-left: 90;
     }
 }

 /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
 @media screen and (max-width: 400px) {
     .sidebar {
         width: 100%;
         height: auto;
         position: relative;
     }

     .sidebar a {
         float: left;
     }

     div.content {
         padding-left: 90;
     }
 }