body {
    display: flex;
    font-family: 'Inter';
    min-height: 100vh;
    flex-direction: column;

}



main {
    flex: 1;
    padding: 20px;
    color: rgb(255, 255, 255);
}

nav {
    width: 350px;
    padding: 30px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}



.navbar-nav {
    width: 100%;
}

.navbar-nav .nav-item {
    margin-bottom: 10px;

}

.nav-link {
    color: white;
    font-size: larger;
}

.nav-link:hover {
    color: #000000;

}