html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #000000, #192655);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 1000px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: center;
}

thead {
  th {
    background-color: #55608f;
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.187);
    }
  }



  td {
    position: relative;

    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        z-index: -1;
      }
    }
  }
}

table button {
  padding: 10px;
  background-color: #f321440a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
}

button:hover {
  background-color: #93abc6;
}

#load {
  text-align: center;
  color: white;
  font-size: 18px;
  display: none;
  /* Inicialmente oculto */
}

.spinner {
  display: none;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #2196F3;
  border-radius: 50%;
  position: relative;
  animation: spin 2s linear infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: white;

}

.spinner::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.spinner::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}